body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        .prato {
            display: inline-block;
            margin: 10px;
        }

        .prato img {
            max-width: 300px;
            border: 2px solid #ddd;
            border-radius: 10px;
        }

        .prato a {
            display: block;
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
        }

